html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

.chickCont{
  width: 6%;
  height: 12%;
}

.chick{
  width: 60%;
  height: 60%;
}

.motherCont{
  width: 30%;
  height: 30%;
}

.mother{
  width: 50%;
  height: 90%;
}

/* 
  game_canvas is the class name associated with the left area of the document
  background-image sets the source of the image
  background-size sets the size of the image. 
    background-color sets the color of the portion of the screen not covered by the image
    background position set the image to the center
    background-attachment - determines if the image is scrollable
 */
#game_canvas{
  width: 70%;
  height: 100vh;
  background-image: url('../images/game_environment/scene.svg'); /*set the source for the image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: skyblue;

}

.container{
  display: flex;
}

#game_operations {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* width: 50vw; */
}

.top-right {
    background-color: lightblue;
    height: 50vh;
    padding: 3rem;

    display: flex;
    flex-direction: column;
}

.bottom-right {
    height: 50vh;
    padding: 3rem;
}

.bottom-right, .draggable{
  margin-bottom: .5rem;
}

.draggable, .block {
  background-color: #88c;
  color: white;
  padding: .5rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
}

.drink {
  background-color: cornflowerblue;
}

.eat {
  background-color: salmon;
}

.run-reset-buttons {
  padding-top: 2.5rem;
  display: flex;
  gap: 10px;
  float: right;
}

.run-reset-buttons button {
  background-color: lightgreen;
  border: 0;
  padding: .25rem;
  margin-top: -35px;
  margin-bottom: 1rem;
}

#block-drop{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

#num-input{
  box-sizing: border-box;
  width: 50%;
}

/* .selectedBackground{
  border: .1rem solid cyan; 
} */

#trash{
  background-color: rgb(210, 26, 26);
  color: white;
  padding: .5rem;
  text-align: center;
  width: 35%;
  border-radius: .75rem;
  align-self: flex-end;
  border: 0;
  margin-right: -1.75rem;
  margin-bottom: -1.75rem;
}

#block-remove {
  height: 38%;
  width: 160%;
  margin-left: -35%;
}