.chickCont{
  width: 110px;
  height: 120px;
}

.chick{
  width: 60%;
  height: 60%;
}

.motherCont{
  width: 10%;
  height: 10%;
  top: 40%;
  left: 60%;
}

.mother{
  width: 250%;
  height: 250%;
}

/* 
  game_canvas is the class name associated with the left area of the document
  background-image sets the source of the image
  background-size sets the size of the image. 
    background-color sets the color of the portion of the screen not covered by the image
    background position set the image to the center
    background-attachment - determines if the image is scrollable
 */
#game_canvas{
  width: 70%;
  height: 100vh;
  background-image: url('../images/game_environment/scene.svg'); /*set the source for the image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: skyblue;

}

.container{
  display: flex;
}
