.chickCont{
  width: 6%;
  height: 12%;
}

.chick{
  width: 60%;
  height: 60%;
}

.motherCont{
  width: 30%;
  height: 30%;
}

.mother{
  width: 50%;
  height: 90%;
}

/* 
  game_canvas is the class name associated with the left area of the document
  background-image sets the source of the image
  background-size sets the size of the image. 
    background-color sets the color of the portion of the screen not covered by the image
    background position set the image to the center
    background-attachment - determines if the image is scrollable
 */
#game_canvas{
  width: 70%;
  height: 100vh;
  background-image: url('../images/game_environment/scene.svg'); /*set the source for the image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: skyblue;

}

.container{
  display: flex;
}

#game_operations {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* width: 50vw; */
}

.top-right {
    background-color: lightblue;
    height: 50vh;
    padding: 3rem;
}

.bottom-right {
    height: 50vh;
    padding: 3rem;
}

.draggable, .block {
  background-color: #88c;
  color: white;
  padding: .5rem;
  width: 100%;
  margin-block: 5px;
  cursor: pointer;
  text-align: center;
}

.drink {
  background-color: salmon;
}

.run-reset-buttons {
  padding-top: 2.5rem;
  display: flex;
  gap: 10px;
  float: right;
}

.run-reset-buttons button {
  background-color: lightgreen;
  border: 0;
  padding: .25rem;
  margin-top: -35px;
}

#block-drop{
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

#num-input{
  box-sizing: border-box;
  width: 50%;
}