/* The chick class is a dynamic class
    we use it to include the chick image and set its width and height
 */
.chick
{
  content: url("chick_resting_pose.svg");
  width: 10%;
  height: 10%;
}

.water{
  content: url("gameenvironmentandrestingpose/WaterPan.svg");
  width:50em;
  height: 30em;
  left: 34%;
  top:55%;
}

/* as about resizing of the window. how do we want to handle this? */
.mother
{
  /* content: url("images/Mother_Hen_2 Resting Pose 1.svg"); */
  width: 25em;
  height: 25em;
  left: 60%;
  top: 50%;
}

/* A class not currently used
    I used it for debugging
 */
.trial
{
  width: 2em;
  height: 2em;
  background-color: blue;
}

/* 
  game_canvas is the class name associated with the body of the document
  background-image sets the source of the image
  background-size sets the size of the image. vw is the viewport-height - ie.
    the visible view height. The first 140vw sets the height of the image and
    the second 140vw sets the width of the image. This is set consistently with the aspect-ratio
    of the original image
    background-color sets the color of the portion of the screen not covered by the image
    background position set the image to the center
    background-attachment - determines if the image is scrollable
 */
#game_canvas
{
  background-image: url('gameenvironmentandrestingpose/scene.svg'); /*set the source for the image*/
  background-size: 140vw 140vw; /*set the size of the image */
  background-repeat: no-repeat;
  /* background-color: skyblue; */
  background-color: skyblue;
  background-position: center;
  background-attachment: fixed;
}

.points, .reset
{
  font-size: 2em;
  color: white;
  background-color: black;
  display: inline;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  z-index: -1;
  padding: 0.2em;
  border-radius: 0.2em;
}
