.chick
{
  content: url("Chick_2.png");
  width: 5em;
  height: 5em;
}

.trial
{
  width: 2em;
  height: 2em;
  background-color: blue;
}

#game_canvas
{
  background-image: url('scene.png'), linear-gradient(skyblue, green );
  background-size: contain;
  background-repeat: no-repeat;
  background-color: skyblue;
  background-position: center;
  height: 1000px;
  width: 100%
  
}

.points, .reset
{
  font-size: 2em;
  color: white;
  background-color: black;
  display: inline;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  z-index: -1;
  padding: 0.2em;
  border-radius: 0.2em;
}

.reset
{

}
