* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    height: 100vh;
}

#square {
    width: 2rem;
    height: 2rem;
    background-color: red;
    position: absolute;
    top: 11.5rem;
    left: 11.5rem;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.top-right {
    background-color: lightblue;
    height: 50vh;
    padding: 3rem;
}

.bottom-right {
    height: 50vh;
    padding: 3rem;
}

.draggable, .block {
    background-color: #88c;
    color: white;
    padding: .5rem;
    width: 100%;
    margin-block: 5px;
    cursor: pointer;
    text-align: center;
}

.drink {
    background-color: salmon;
}

.run-reset-buttons {
    display: flex;
    gap: 10px;
    float: right;
}

.run-reset-buttons button {
    background-color: lightgreen;
    border: 0;
    padding: .25rem;
    margin-top: -35px;
}



