* {
    margin: 0;
    padding: 0;
}

.points, .reset, .back, .finished
{
  padding: 0.2vw;
  border-radius: 0.2em;
  color: white;
  background-color: black;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  display: inline;
  font-size: 1.5vw;
}


.back a{
    color: inherit;
    text-decoration: inherit;
}

.banner {
    height: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 2rem;
    padding-top: 0.5%;
    font-family: sans-serif;
    position: fixed;
    /* left: 0px; */
    flex-wrap: nowrap;
}

.banner h3 {
    padding-right: 1rem;
}

.banner button {
    height: 2vw;
    width: 7vw;
    font-weight: bold;
    font-size: 1.5vw;
    border: 0;
    background-color: white;
    border-radius: .25vw;
    border: 0.2vw solid black;
}

.banner button:hover {
    background-color: #6C7C17;
    border: none;
    color: white;
    /* background-color: rgb(144, 222, 26); */
}

.banner button:active {
    background-color: #6C7C17;
    /* background-color: rgb(110, 168, 23); */
}

.points_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1%;
}

.point_display{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    gap: .03rem;
    width: 4.5rem;
    height: 2rem;
    padding: 0.2rem;
}

.chick_icon{
    height: 100%;
    width: 50%;
    /* max-width: 40%; */
    object-fit: cover;
    /* flex-basis: 30%; */
    flex-shrink: 0;
}

.health_bar_container{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: #333;
    border: 0.01rem solid #666;
    overflow: hidden;
    /* padding: .2vw; */
    border-radius: .2em;
    white-space: nowrap;
    flex: 1;
}

.health_bar_fill{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 115, 0);
}

.login-popup {
    font-family: sans-serif;
    width: 30%;
    height: 10rem;
    background-color: white;
    float: right;
    padding: 1rem;
    display: none;
    margin-top: 3%;
}

#incrementBtn, #decrementBtn {
    height: 3rem;
    width: 3rem;
    border-radius: 999px;
    border: 4px solid black;
    background-color: white;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin: 2rem;
}


.login_status{
    display: flex;
    gap: 1rem;
}

#hints, #game_over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
    width: 40%;
    background-color: #6C7C17;
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

#hint_wrapper, #game_over_wrapper{
    display: flex;
    justify-content: center;
}

#hint_image_wrapper{
    flex-basis: 50%;
}


#hint_text, #game_over_Text{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-self: center;
    flex-grow: 2;
}

#hint_image{
    width: 100%;
}

#next_button, #back_button, #game_reset_button{
    background-color: #FFC940;
    font-size: 2vw;
    align-self: center;
    padding: 0.5vw;
    border-radius: 0.2rem;
}

#navigation_wrapper{
    display: flex;
    gap: 1vw;
    justify-content: center;
}

#close_button{
    align-self: flex-end;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
}

#close_button:hover{
    background-color: white;
    color: black;
}

#game_over{
        display: none;
        z-index: 1;
}

#new_points_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: red;    
}

