html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chickCont{
  width: 3%;
  height: 8%;
}

.chick{
  width: 100%;
  height: 100%;
}

.motherCont{
  width: 15%;
  height: 25%;
}

.mother{
  width: 100%;
  height: 100%;
}

/* 
  game_canvas is the class name associated with the left area of the document
  background-image sets the source of the image
  background-size sets the size of the image. 
  background-color sets the color of the portion of the screen not covered by the image
  background position set the image to the center
  background-attachment - determines if the image is scrollable
 */
#game_canvas{
  width: 100%;
  height: 100vh;
  background-image: url('../images/game_environment/scene.svg'); /*set the source for the image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: skyblue;
}

.container{
  display: flex;
  justify-content: center;
}

#game_operations {
  background-image: url("../images/boulder_and_interface/game_options_interface.svg");
  background-position: top;
  background-size: 100% 80%;
  background-repeat: no-repeat;
    width: 27%;
    position: fixed;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right {
    width: 80%;
    height: 50vh;
    padding-top: 15vh;
    padding-left: 6%;
    padding-right: 6%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-right {
    height: 50vh;
    width: 75%;
    padding-right: 3rem;
    padding-bottom: 6rem;
}

.bottom-right, .draggable{
  margin-bottom: .5rem;
}

.draggable, .block {
  color: white;
  padding: .5rem;
  height: 10%;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.move{
  background-color: salmon;
}

.drink {
  /* background-color: #FFC940; */
  background-image: url("../images/game_buttons/drink_button.svg");
}

.eat {
  /* background-color: white; */
  /*color: #7EBB61; */
  background-image: url("../images/game_buttons/eat_button.svg");
}

.start{
  /* background-color: #7EBB61; */
  background-image: url("../images/game_buttons/start_button.svg");  
}

.run-reset-buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#block-drop{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  border: 0.1rem solid white;
}

#num-input{
  box-sizing: border-box;
  width: 50%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.move-select{
  border: none;
  border-radius: 0.2rem;  
  padding: 0.1rem;  
}

#block-reset{
  background-image: url("../images/game_buttons/refresh_key.svg");  
}

#run{
  background-image: url("../images/game_buttons/play_button.svg"); 
}

#trash{
  background-image: url('../images/game_buttons/trash_can.svg');
  margin-left: auto;
  border: 0.5rem solid white;
  box-sizing: border-box;
}


#block-reset, #run, #trash{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  padding: 0.1rem;
}

#block-reset:hover, #run:hover{
  background-color:#FFC940;
}

