html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chickCont{
  width: 3%;
  height: 8%;
}

.chick{
  width: 100%;
  height: 100%;
}

.motherCont{
  width: 12%;
  aspect-ratio: 9/12 ;
}

.mother{
  width: 100%;
  height: 100%;
  /* border: 0.1rem solid blue;   */
}

/* 
  game_canvas is the class name associated with the left area of the documentinstruction1
  background-image sets the source of the image
  background-size sets the size of the image. 
  background-color sets the color of the portion of the screen not covered by the image
  background position set the image to the center
  background-attachment - determines if the image is scrollable
 */
#game_canvas{
  width: 100vw;
  height: 56vw;
  background-image: url('../images/game_environment/scene3.svg'); /*set the source for the image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: skyblue;
  /* overflow-y: scroll; */
}

.container{
  display: flex;
  justify-content: center;
}

#game_operations {
  background-image: url("../images/boulder_and_interface/game_options_interface.svg");
  background-position: top;
  background-size: 45vw 56vw;
  background-repeat: no-repeat;
    width: 27vw;
    height: 56vw;
    position: fixed;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right {
    width: 80%;
    height: 60%;
    padding-top: 35%;
    padding-left: 6%;
    padding-right: 6%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-right {
    height: 40%;
    width: 80%;
    padding-bottom: 6%;
    /* background-color: rebeccapurple; */
}

.bottom-right, .draggable{
  margin-bottom: .5rem;
}

.draggable, .block {
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  height: 10%;
  width: 90%;
  cursor: pointer;
  text-align: center;
  border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 1vw;
  /* background-color: #FFC940; */
}

/* .move{
  background-color: salmon;
} */

.drink {
  background-image: url("../images/game_buttons/drink_button.svg");
}

.eat {
  background-image: url("../images/game_buttons/eat_button.svg");
}

.start{
  background-image: url("../images/game_buttons/start_button.svg");  
}

.run-reset-buttons {
  display: flex;
  gap: 1.5%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#block-drop{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  border: 0.1rem solid white;
  overflow-y: scroll;
}

#num-input{
  box-sizing: border-box;
  width: 50%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2%;
  font-size: 1vw;  
}

.move-select{
  width: 25%;
  border: none;
  border-radius: 0.2rem;  
  padding: 0.1%; 
  font-size: 1vw;   
}

#block-reset{
  background-image: url("../images/game_buttons/refresh_key.svg");  
}

#run{
  background-image: url("../images/game_buttons/play_button.svg"); 
}

#trash{
  background-image: url('../images/game_buttons/trash_can.svg');
  margin-left: auto;
}

#block-reset, #run, #trash{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  padding: 1%;
}

#block-reset:hover, #run:hover{
  background-color:#FFC940;
}


#transition_image_container{
  /* display: flex; */
  display: flex;
  position: absolute;
  width: 100vw;
  height: 56vw;
  align-items: center;
  z-index: 100;
  background-image: url("../images/pop_up.svg");
  background-repeat: no-repeat;
  background-size: contain ;
  /* background-color: red; */
  background-position: center;
}


#transition_image{
  background-image: url("../images/game_buttons/play_button.svg");
  background-size: cover ;
  background-position: center;
  /* position: absolute;
  z-index: 1000; */

  /* background-color: blue; */
  height: 50%;
  width: 50%;
  margin: auto;
  background-repeat: no-repeat;
}

.visible-move-container{
  display: flex;
  width: 100%;
  height: 100%;
  /* z-index: 100; */
  /* background-color: red; */
  margin: 0px;
  padding: 0px;
  align-items: center;

}

.visible-move{
  background-image: url("../images/direction/up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1.8%;  
  width: 50%;
  height: 100%;
  padding-bottom: 0px;
  /* background-color: blue; */
}


.visible-number{
  background-image: url("../images/numbers/number0.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  width: 50%;
  height: 100%;
  margin-top: 1.8%;
  margin-right: 0px;
  /* margin-bottom: -50%; */
  margin-left: -5%; 
  padding-bottom: 0px;
}

.num0, .num1, .num2, .num3, .num4, .num5, .num6, .num7, .num8, .num9, .num10 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15%;
  width: 100%;
  z-index: 1000;
}

.move-up, .move-down, .move-right, .move-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15%;
  width: 100%;
  z-index: 1000;
}

.num0{
  background-image: url("../images/numbers/number0.svg");
}

.num1{
  background-image: url("../images/numbers/number1.svg");
}
.num2{
  background-image: url("../images/numbers/number2.svg");
}
.num3{
  background-image: url("../images/numbers/number3.svg");
}
.num4{
  background-image: url("../images/numbers/number4.svg");
}
.num5{
  background-image: url("../images/numbers/number5.svg");
}
.num6{
  background-image: url("../images/numbers/number6.svg");
}
.num7{
  background-image: url("../images/numbers/number7.svg");
}
.num8{
  background-image: url("../images/numbers/number8.svg");
}
.num9{
  background-image: url("../images/numbers/number9.svg");
}


.move-left{
  background-image: url("../images/direction/left.svg");
}

.move-right{
  background-image: url("../images/direction/right.svg");
}

.move-up{
  background-image: url("../images/direction/up.svg");
}

.move-down{
  background-image: url("../images/direction/down.svg");
}

.number-list, .move-list{
  position: relative;
  top: 100%;
  list-style: none;
  height: 700%;
  width: 100%;
  display: none;
  overflow-y: auto;  
}

.new-move{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 17.5%;
    width: 100%;

}